@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");

:root {
    --cor-de-fundo: #fff2c6;
    --branco: #FFFFFF;
    --laranja: #9e43e9;
    --azul-degrade: linear-gradient(97.54deg, #481a85 35.49%, #510e91 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}